In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# df = pd.read_excel('./data_in_percent.xlsx', index_col='Series Name')
df = pd.read_excel('./data_in_percent.xlsx')
df

FileNotFoundError: [Errno 2] No such file or directory: './data_in_percent.xlsx'

In [ ]:
df.columns

In [ ]:
df = df.replace('..', np.NaN)

In [ ]:
df = df.drop('Series Code', axis = 1)

In [ ]:
to_be_dropped = ['1999 [YR1999]',
                 '2000 [YR2000]',
                 '2001 [YR2001]',
                 '2002 [YR2002]',
                 '2003 [YR2003]',
                 '2004 [YR2004]',
                 '2005 [YR2005]',
                 '2006 [YR2006]',
                 '2007 [YR2007]',
                 '2020 [YR2020]',
                 '2021 [YR2021]',
                 '2022 [YR2022]',
                 '2023 [YR2023]']

In [ ]:
df = df.drop(axis = 1, columns=to_be_dropped)

In [ ]:
df.isna().sum()

Series Name        3
Country Name       5
Country Code       5
2008 [YR2008]    182
2009 [YR2009]    187
2010 [YR2010]    159
2011 [YR2011]    118
2012 [YR2012]    163
2013 [YR2013]    146
2014 [YR2014]    157
2015 [YR2015]    156
2016 [YR2016]    115
2017 [YR2017]     81
2018 [YR2018]    137
2019 [YR2019]    158
dtype: int64

In [ ]:
df.columns

Index(['Series Name', 'Country Name', 'Country Code', '2008 [YR2008]',
       '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [ ]:
for i in range(2, len(df.columns)):
    column = df.columns[i]
    description = df[column].describe()
    print(f"Description for column {column}:\n", description, "\n")

Description for column Country Code:
 count     384
unique      8
top       AFG
freq       48
Name: Country Code, dtype: object

Description for column 2008 [YR2008]:
 count    2.070000e+02
mean     1.737533e+04
std      1.155119e+05
min      1.974435e-01
25%      6.310870e+00
50%      4.182305e+01
75%      8.322418e+01
max      1.437189e+06
Name: 2008 [YR2008], dtype: float64

Description for column 2009 [YR2009]:
 count    2.020000e+02
mean     4.360432e+04
std      3.223927e+05
min      2.293500e-01
25%      8.219635e+00
50%      3.879578e+01
75%      8.162431e+01
max      4.022005e+06
Name: 2009 [YR2009], dtype: float64

Description for column 2010 [YR2010]:
 count    2.300000e+02
mean     3.712571e+04
std      3.056927e+05
min      0.000000e+00
25%      7.193595e+00
50%      3.983426e+01
75%      8.453324e+01
max      4.251657e+06
Name: 2010 [YR2010], dtype: float64

Description for column 2011 [YR2011]:
 count    2.710000e+02
mean     4.449274e+04
std      3.720206e+05
min      0.000000e+00
25%      5.774841e+00
50%      3.288032e+01
75%      8.419997e+01
max      4.387444e+06
Name: 2011 [YR2011], dtype: float64

Description for column 2012 [YR2012]:
 count    2.260000e+02
mean     1.617632e+04
std      1.146645e+05
min      3.706900e-01
25%      8.144590e+00
50%      3.883392e+01
75%      8.900402e+01
max      1.542281e+06
Name: 2012 [YR2012], dtype: float64

Description for column 2013 [YR2013]:
 count    2.430000e+02
mean     4.368376e+04
std      3.779522e+05
min      0.000000e+00
25%      9.516870e+00
50%      3.805800e+01
75%      8.909895e+01
max      4.367637e+06
Name: 2013 [YR2013], dtype: float64

Description for column 2014 [YR2014]:
 count    2.320000e+02
mean     4.303336e+04
std      3.952461e+05
min      0.000000e+00
25%      5.837097e+00
50%      3.533640e+01
75%      9.140900e+01
max      4.404451e+06
Name: 2014 [YR2014], dtype: float64

Description for column 2015 [YR2015]:
 count    2.330000e+02
mean     4.624298e+04
std      3.965236e+05
min      0.000000e+00
25%      1.009624e+01
50%      3.931300e+01
75%      9.222300e+01
max      4.398590e+06
Name: 2015 [YR2015], dtype: float64

Description for column 2016 [YR2016]:
 count    2.740000e+02
mean     4.588962e+04
std      4.157992e+05
min      3.400000e-01
25%      9.054420e+00
50%      4.077454e+01
75%      9.297458e+01
max      5.010198e+06
Name: 2016 [YR2016], dtype: float64

Description for column 2017 [YR2017]:
 count    3.080000e+02
mean     6.452531e+04
std      5.574401e+05
min      1.910000e-01
25%      6.660882e+00
50%      3.465965e+01
75%      9.188233e+01
max      7.328295e+06
Name: 2017 [YR2017], dtype: float64

Description for column 2018 [YR2018]:
 count    2.520000e+02
mean     4.164769e+04
std      4.908650e+05
min      6.000000e-03
25%      5.707500e+00
50%      3.424914e+01
75%      8.350306e+01
max      7.721150e+06
Name: 2018 [YR2018], dtype: float64

Description for column 2019 [YR2019]:
 count    2.310000e+02
mean     9.511956e+04
std      7.669717e+05
min      6.412300e-01
25%      7.665500e+00
50%      5.808500e+01
75%      9.203400e+01
max      8.894878e+06
Name: 2019 [YR2019], dtype: float64

In [ ]:
df = df.iloc[:320]
df.tail(25)

,Series Name,Country Name,Country Code,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
295,"Pupil-teacher ratio, primary",Sri Lanka,LKA,23.495450,23.149250,23.914370,24.065720,24.429900,23.749540,23.659180,23.152430,23.166420,22.932570,21.737350,NaN
296,"Pupil-teacher ratio, secondary",Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.973800,32.208140,33.240700,33.501240,NaN
297,"Pupil-teacher ratio, secondary",Bangladesh,BGD,27.068200,28.163760,28.331450,30.624930,32.236970,35.202960,NaN,NaN,36.192000,33.982510,35.095240,NaN
298,"Pupil-teacher ratio, secondary",Bhutan,BTN,23.745670,20.643670,21.403210,20.539270,19.889220,13.779800,14.299170,12.145780,11.418730,11.008900,10.814560,NaN
299,"Pupil-teacher ratio, secondary",India,IND,NaN,25.139300,25.328210,25.921210,NaN,30.783270,31.772460,31.650180,28.490970,27.441030,28.522870,NaN
300,"Pupil-teacher ratio, secondary",Maldives,MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,"Pupil-teacher ratio, secondary",Nepal,NPL,40.584620,36.901630,31.972470,29.701780,29.565740,29.180800,28.840490,28.571480,28.903570,28.824110,NaN,28.256700
302,"Pupil-teacher ratio, secondary",Pakistan,PAK,NaN,NaN,NaN,NaN,23.336740,22.314460,21.401000,21.126870,21.351470,19.385450,20.396580,NaN
303,"Pupil-teacher ratio, secondary",Sri Lanka,LKA,NaN,NaN,NaN,17.256390,17.282180,NaN,NaN,NaN,17.422130,17.448010,17.528750,NaN
304,"Pupil-teacher ratio, tertiary",Afghanistan,AFG,NaN,28.481450,NaN,31.895320,NaN,NaN,23.893290,NaN,NaN,NaN,21.528320,NaN
305,"Pupil-teacher ratio, tertiary",Bangladesh,BGD,21.025760,26.948530,NaN,25.956560,23.087150,NaN,22.872950,NaN,28.966970,30.344080,37.119370,NaN
306,"Pupil-teacher ratio, tertiary",Bhutan,BTN,6.369480,NaN,6.747240,7.239450,7.748690,NaN,NaN,NaN,NaN,NaN,15.592690,NaN
307,"Pupil-teacher ratio, tertiary",India,IND,NaN,NaN,NaN,NaN,NaN,21.531220,24.472790,24.289760,23.745410,24.435820,24.725860,NaN
308,"Pupil-teacher ratio, tertiary",Maldives,MDV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.429600,NaN,NaN
309,"Pupil-teacher ratio, tertiary",Nepal,NPL,NaN,NaN,NaN,NaN,NaN,60.009690,NaN,NaN,NaN,NaN,NaN,NaN
310,"Pupil-teacher ratio, tertiary",Pakistan,PAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.056000,33.015750,NaN
311,"Pupil-teacher ratio, tertiary",Sri Lanka,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.969620,29.760960,NaN
312,"Secondary education, teachers (% female)",Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.025829,34.189720,34.359230,35.629860,NaN
313,"Secondary education, teachers (% female)",Bangladesh,BGD,19.534519,19.950529,19.584000,21.541000,20.804001,20.799000,NaN,NaN,22.379000,22.011000,22.411671,NaN
314,"Secondary education, teachers (% female)",Bhutan,BTN,33.135818,48.959469,41.247768,38.448952,39.253460,40.693249,39.221729,41.584000,41.473518,42.152000,42.703999,44.896000
315,"Secondary education, teachers (% female)",India,IND,NaN,38.980808,40.043732,41.073002,NaN,45.146000,43.213001,43.153000,43.285999,43.984001,NaN,46.046001
316,"Secondary education, teachers (% female)",Maldives,MDV,NaN,NaN,39.816002,43.604000,50.532001,46.985001,42.734001,45.837002,46.313999,49.096001,50.505001,58.112919
317,"Secondary education, teachers (% female)",Nepal,NPL,14.813640,20.896030,18.121000,20.726000,21.502649,21.795000,21.860001,22.042999,23.025999,24.371000,NaN,24.322491
318,"Secondary education, teachers (% female)",Pakistan,PAK,NaN,NaN,NaN,NaN,NaN,NaN,57.476849,57.066219,58.057331,61.289639,60.484509,58.084999
319,"Secondary education, teachers (% female)",Sri Lanka,LKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.078003,70.835999,71.389999

In [ ]:
df = df.drop('Country Code', axis = 1)

In [ ]:
df_test = df.groupby(['Series Name', 'Country Name'])[['2008 [YR2008]']].mean()

In [ ]:
nan_counts = df.isna().sum(axis=1)
nan_counts

0       1
1       1
2       1
3       0
4      10
       ..
315     3
316     2
317     1
318     6
319     9
Length: 320, dtype: int64

In [ ]:
result = pd.DataFrame({
    "Country Name": df["Country Name"],
    "Series Name": df["Series Name"],
    "NaN Count": nan_counts
})
result.head(8)

  Country Name                                   Series Name  NaN Count
0  Afghanistan  School enrollment, secondary, male (% gross)          1
1   Bangladesh  School enrollment, secondary, male (% gross)          1
2       Bhutan  School enrollment, secondary, male (% gross)          1
3        India  School enrollment, secondary, male (% gross)          0
4     Maldives  School enrollment, secondary, male (% gross)         10
5        Nepal  School enrollment, secondary, male (% gross)          1
6     Pakistan  School enrollment, secondary, male (% gross)          0
7    Sri Lanka  School enrollment, secondary, male (% gross)          3

In [ ]:
df.columns[3:]

Index(['2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]',
       '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [ ]:
# Determine the columns corresponding to the years
year_columns = df.columns[3:]

# Drop rows with more than 5 NaNs in the year columns
df_filtered = df.dropna(thresh=len(year_columns) - 4, subset=year_columns)

# Print the filtered DataFrame
df_filtered.isna().sum()

Series Name       0
Country Name      0
2008 [YR2008]    50
2009 [YR2009]    51
2010 [YR2010]    33
2011 [YR2011]     5
2012 [YR2012]    28
2013 [YR2013]     5
2014 [YR2014]    31
2015 [YR2015]    21
2016 [YR2016]     8
2017 [YR2017]     3
2018 [YR2018]    42
2019 [YR2019]    44
dtype: int64

In [ ]:
nan_counts = df_filtered.isna().sum(axis=1)

result = pd.DataFrame({
    "Country Name": df_filtered["Country Name"],
    "Series Name": df_filtered["Series Name"],
    "NaN Count": nan_counts
})
result

    Country Name                                   Series Name  NaN Count
0    Afghanistan  School enrollment, secondary, male (% gross)          1
1     Bangladesh  School enrollment, secondary, male (% gross)          1
2         Bhutan  School enrollment, secondary, male (% gross)          1
3          India  School enrollment, secondary, male (% gross)          0
5          Nepal  School enrollment, secondary, male (% gross)          1
..           ...                                           ...        ...
313   Bangladesh      Secondary education, teachers (% female)          3
314       Bhutan      Secondary education, teachers (% female)          0
315        India      Secondary education, teachers (% female)          3
316     Maldives      Secondary education, teachers (% female)          2
317        Nepal      Secondary education, teachers (% female)          1

[209 rows x 3 columns]

In [ ]:
df_filtered[year_columns] = df_filtered[year_columns].interpolate(axis=1)
df_filtered

<ipython-input-154-a50a3fe4ef96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[year_columns] = df_filtered[year_columns].interpolate(axis=1)

,Series Name,Country Name,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,"School enrollment, secondary, male (% gross)",Afghanistan,54.544979,59.702080,67.041267,66.887489,69.298363,70.166618,69.261230,67.947083,67.643623,70.172119,72.145447,72.145447
1,"School enrollment, secondary, male (% gross)",Bangladesh,43.484810,48.168659,48.609001,48.258999,50.624821,56.133999,57.472744,58.811489,64.133034,60.307999,62.898998,62.599998
2,"School enrollment, secondary, male (% gross)",Bhutan,53.402420,56.391880,59.616032,62.459122,66.745232,70.744499,78.049042,79.929100,79.976044,81.346481,82.119041,82.119041
3,"School enrollment, secondary, male (% gross)",India,66.505798,64.379860,67.814728,70.610672,72.495583,70.168503,75.433197,75.137077,76.206650,74.985863,76.168747,75.718483
5,"School enrollment, secondary, male (% gross)",Nepal,51.034489,52.792728,57.062168,59.726509,63.259350,65.388687,66.990967,67.582916,70.379738,73.121002,74.634815,76.148628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,"Secondary education, teachers (% female)",Bangladesh,19.534519,19.950529,19.584000,21.541000,20.804001,20.799000,21.325666,21.852333,22.379000,22.011000,22.411671,22.411671
314,"Secondary education, teachers (% female)",Bhutan,33.135818,48.959469,41.247768,38.448952,39.253460,40.693249,39.221729,41.584000,41.473518,42.152000,42.703999,44.896000
315,"Secondary education, teachers (% female)",India,NaN,38.980808,40.043732,41.073002,43.109501,45.146000,43.213001,43.153000,43.285999,43.984001,45.015001,46.046001
316,"Secondary education, teachers (% female)",Maldives,NaN,NaN,39.816002,43.604000,50.532001,46.985001,42.734001,45.837002,46.313999,49.096001,50.505001,58.112919
317,"Secondary education, teachers (% female)",Nepal,14.813640,20.896030,18.121000,20.726000,21.502649,21.795000,21.860001,22.042999,23.025999,24.371000,24.346745,24.322491

In [ ]:
df_filtered.isna().sum()

Series Name       0
Country Name      0
2008 [YR2008]    50
2009 [YR2009]    51
2010 [YR2010]    18
2011 [YR2011]     5
2012 [YR2012]     0
2013 [YR2013]     0
2014 [YR2014]     0
2015 [YR2015]     0
2016 [YR2016]     0
2017 [YR2017]     0
2018 [YR2018]     0
2019 [YR2019]     0
dtype: int64

In [ ]:
df_filtered[year_columns] = df_filtered[year_columns].bfill(axis=1)
df_filtered

<ipython-input-156-3cc67ef6f4b0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[year_columns] = df_filtered[year_columns].bfill(axis=1)

,Series Name,Country Name,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,"School enrollment, secondary, male (% gross)",Afghanistan,54.544979,59.702080,67.041267,66.887489,69.298363,70.166618,69.261230,67.947083,67.643623,70.172119,72.145447,72.145447
1,"School enrollment, secondary, male (% gross)",Bangladesh,43.484810,48.168659,48.609001,48.258999,50.624821,56.133999,57.472744,58.811489,64.133034,60.307999,62.898998,62.599998
2,"School enrollment, secondary, male (% gross)",Bhutan,53.402420,56.391880,59.616032,62.459122,66.745232,70.744499,78.049042,79.929100,79.976044,81.346481,82.119041,82.119041
3,"School enrollment, secondary, male (% gross)",India,66.505798,64.379860,67.814728,70.610672,72.495583,70.168503,75.433197,75.137077,76.206650,74.985863,76.168747,75.718483
5,"School enrollment, secondary, male (% gross)",Nepal,51.034489,52.792728,57.062168,59.726509,63.259350,65.388687,66.990967,67.582916,70.379738,73.121002,74.634815,76.148628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,"Secondary education, teachers (% female)",Bangladesh,19.534519,19.950529,19.584000,21.541000,20.804001,20.799000,21.325666,21.852333,22.379000,22.011000,22.411671,22.411671
314,"Secondary education, teachers (% female)",Bhutan,33.135818,48.959469,41.247768,38.448952,39.253460,40.693249,39.221729,41.584000,41.473518,42.152000,42.703999,44.896000
315,"Secondary education, teachers (% female)",India,NaN,38.980808,40.043732,41.073002,43.109501,45.146000,43.213001,43.153000,43.285999,43.984001,45.015001,46.046001
316,"Secondary education, teachers (% female)",Maldives,NaN,39.816002,39.816002,43.604000,50.532001,46.985001,42.734001,45.837002,46.313999,49.096001,50.505001,58.112919
317,"Secondary education, teachers (% female)",Nepal,14.813640,20.896030,18.121000,20.726000,21.502649,21.795000,21.860001,22.042999,23.025999,24.371000,24.346745,24.322491

In [ ]:
df_filtered.isna().sum()

Series Name       0
Country Name      0
2008 [YR2008]    50
2009 [YR2009]     0
2010 [YR2010]     0
2011 [YR2011]     0
2012 [YR2012]     0
2013 [YR2013]     0
2014 [YR2014]     0
2015 [YR2015]     0
2016 [YR2016]     0
2017 [YR2017]     0
2018 [YR2018]     0
2019 [YR2019]     0
dtype: int64

In [ ]:
df_filtered["2008 [YR2008]"] = df_filtered[year_columns].mean(axis=1, skipna=True).where(df_filtered["2008 [YR2008]"].isna(), df_filtered["2008 [YR2008]"])

<ipython-input-158-a8d596e69479>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["2008 [YR2008]"] = df_filtered[year_columns].mean(axis=1, skipna=True).where(df_filtered["2008 [YR2008]"].isna(), df_filtered["2008 [YR2008]"])

In [ ]:
df_filtered.isna().sum()

Series Name      0
Country Name     0
2008 [YR2008]    0
2009 [YR2009]    0
2010 [YR2010]    0
2011 [YR2011]    0
2012 [YR2012]    0
2013 [YR2013]    0
2014 [YR2014]    0
2015 [YR2015]    0
2016 [YR2016]    0
2017 [YR2017]    0
2018 [YR2018]    0
2019 [YR2019]    0
dtype: int64

In [ ]:
df_filtered.reset_index(drop=True)

,Series Name,Country Name,2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,"School enrollment, secondary, male (% gross)",Afghanistan,54.544979,59.702080,67.041267,66.887489,69.298363,70.166618,69.261230,67.947083,67.643623,70.172119,72.145447,72.145447
1,"School enrollment, secondary, male (% gross)",Bangladesh,43.484810,48.168659,48.609001,48.258999,50.624821,56.133999,57.472744,58.811489,64.133034,60.307999,62.898998,62.599998
2,"School enrollment, secondary, male (% gross)",Bhutan,53.402420,56.391880,59.616032,62.459122,66.745232,70.744499,78.049042,79.929100,79.976044,81.346481,82.119041,82.119041
3,"School enrollment, secondary, male (% gross)",India,66.505798,64.379860,67.814728,70.610672,72.495583,70.168503,75.433197,75.137077,76.206650,74.985863,76.168747,75.718483
4,"School enrollment, secondary, male (% gross)",Nepal,51.034489,52.792728,57.062168,59.726509,63.259350,65.388687,66.990967,67.582916,70.379738,73.121002,74.634815,76.148628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,"Secondary education, teachers (% female)",Bangladesh,19.534519,19.950529,19.584000,21.541000,20.804001,20.799000,21.325666,21.852333,22.379000,22.011000,22.411671,22.411671
205,"Secondary education, teachers (% female)",Bhutan,33.135818,48.959469,41.247768,38.448952,39.253460,40.693249,39.221729,41.584000,41.473518,42.152000,42.703999,44.896000
206,"Secondary education, teachers (% female)",India,43.004550,38.980808,40.043732,41.073002,43.109501,45.146000,43.213001,43.153000,43.285999,43.984001,45.015001,46.046001
207,"Secondary education, teachers (% female)",Maldives,46.668357,39.816002,39.816002,43.604000,50.532001,46.985001,42.734001,45.837002,46.313999,49.096001,50.505001,58.112919
208,"Secondary education, teachers (% female)",Nepal,14.813640,20.896030,18.121000,20.726000,21.502649,21.795000,21.860001,22.042999,23.025999,24.371000,24.346745,24.322491

In [ ]:
df_filtered.to_csv("Sdg_4_Data.csv")

In [ ]:
df_filtered.head(7)

Series Name      3
Series Code      5
Country Name     5
Country Code     5
1999 [YR1999]    5
2000 [YR2000]    5
2001 [YR2001]    5
2002 [YR2002]    5
2003 [YR2003]    5
2004 [YR2004]    5
2005 [YR2005]    5
2006 [YR2006]    5
2007 [YR2007]    5
2008 [YR2008]    5
2009 [YR2009]    5
2010 [YR2010]    5
2011 [YR2011]    5
2012 [YR2012]    5
2013 [YR2013]    5
2014 [YR2014]    5
2015 [YR2015]    5
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
2021 [YR2021]    5
2022 [YR2022]    5
2023 [YR2023]    5
dtype: int64

In [ ]:
# # Select numeric columns
# numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns

# # Replace NaN values with the mean of each numeric column
# df[numeric_cols] = df[numeric_cols].apply(lambda x: x.fillna(x.mean()))

# # Group by 'Series Name' and 'Country Name', then calculate the mean for each year
# df_grouped = df.groupby(['Series Name', 'Country Name']).mean().reset_index()

# df_grouped

In [ ]:
# # Set the index to 'Country Name' and transpose the DataFrame for plotting
# df_grouped.set_index('Country Name', inplace=True)
# df_grouped = df_grouped.transpose()

# # Drop non-year columns for plotting purposes
# df_grouped.drop(['Series Name', 'Country Code'], inplace=True)

# # Plotting
# plt.figure(figsize=(10, 6))
# for country in df_grouped.columns:
#     plt.plot(df_grouped.index, df_grouped[country], marker='o', label=country)

# plt.title('Secondary Education Teachers (% Female)')
# plt.xlabel('Year')
# plt.ylabel('% Female Teachers')
# plt.legend()
# plt.xticks(rotation=45)
# plt.grid(True)
# plt.tight_layout()
# plt.show()